<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Sunday PL</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS/css/normalize.css    /css/skeleton.css
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row" style="background-color: indigo;" >
        <div class="six columns" style="margin-top: 3%" style="background-color: blueviolet;">
      <a href="/logout" style="color: lightcyan;" style="text-decoration: none;" style="font-size: 2em;">Log Out</a>
        </div>
      <div class="six columns" style="margin-top: 3%" style="background-color: blueviolet;">
      <a href="/auth/google" style="color: lightcyan;" style="text-decoration: none;" style="font-size: 2em;">Login with Google</a>
        </div>
      </div>