<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

      
      <p>ID: <%= user.stravaId %></p>
      <p>Name: <%= user.stravaName %></p>
      
    <h1></h1>
    <p>Welcome  <%= user.stravaName %></p>
  
    
  
  
  </body>
</html>
