<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <div>
   
   </span>
   <span>
       <%= users.name %>
   </span>
  </div>
  <body>
    <h1></h1>
    <p>Welcome  <%= users.name %></p>
  </body>
</html>
